DATABASE_URL="postgresql://user:password@localhost:5432/wanosend?schema=public"
SESSION_SECRET="change-me-to-a-long-random-string-at-least-32-chars"
RESEND_API_KEY=""
RESEND_WEBHOOK_SECRET=""
DEFAULT_FROM_EMAIL="onboarding@resend.dev"
DEFAULT_FROM_NAME="Wanosend"
APP_URL="http://localhost:3000"
